@media (max-width: 768px) {
  .footer-text-div {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 0px;
    /* gap: 64px; */

    position: relative;
    /* width: 596px; */
    height: 241px;
    left: 65px !important;
    top: 18px !important;
  }
  .frame2-btn {
    margin-top: 0px !important;
    padding-left: 26px !important;
    padding-right: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    max-width: 237px;
    height: 45px !important;

    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 16px !important;
  }
  .text-div-txt {
    margin-bottom: 15px !important;
  }
  .text-div-heading {
    margin-top: 5px !important;
  }
  .footer-last-div {
    /* Frame 88 */

    /* Auto layout */
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    /* padding: 25px; */
    /* gap: 192px; */

    position: relative;
    width: 100% !important;
    height: 74px;
    left: 5px !important;
    top: 210px !important;

    /* Default/white */
    border-top: 0.5px solid #ffffff;
  }
  .social {
    margin-right: 25px !important;
  }
}
/* ********************************************************************* */
/* Frame 87 */
.footer-div {
  position: relative;
  display: flex;
  justify-content: end;
  overflow: hidden;
  /* width: 1440px; */
  width: 100vw !important;
  height: 100% !important;
  left: 0px;
  /* top: 2514px; */
  /* top:2400px; */
  background-image: url("../../assets/images/Polygon-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 49px;
}

/* Frame 92 */

/* Auto layout */
.footer-text-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  /* gap: 64px; */

  position: absolute;
  width: 596px;
  height: 241px;
  left: 422px;
  top: 98px;
}
.text-div-heading {
  width: 497px;
  height: 39px;
  /* Heading/Heading 3 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
.text-div-txt {
  width: 596px;
  height: 54px;

  /* text/12/regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3) !important;
  background-clip: text;
  margin-top: 18px;
  margin-bottom: 44px;
}
.frame2-btn {
  margin-top: 48px;
  padding-left: 36px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 237px;
  height: 60px;

  /* danger */
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  border-radius: 10px;
  border: none;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  /* text/20/bold */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
}
.footer-last-div {
  /* Frame 88 */

  /* box-sizing: border-box; */

  /* Auto layout */
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  /* padding: 25px; */
  /* gap: 192px; */

  position: absolute;
  width: 995px;
  height: 74px;
  left: 222px;
  top: 439px;

  /* Default/white */
  border-top: 0.5px solid #ffffff;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 144px;
  height: 24px;
}
.copyright {
  color: #fff;

  /* text/12/regular */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.terms {
  color: #fff;

  /* text/12/regular */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Vector */
